.footer-container {
  background-color: #eef5f2;
  /* background-color: #61e9ae; */
  height: 12vh;
  padding: 2.5em;
}
.mx-5 {
  font-family: 'Faktum';
  font-weight: 400;
  font-size: 18px;
  color: #1d2831;
  font-style: normal;
}
.footer-last {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 575.98px) {
  .footer-container {
    height: 22vh;
  }
  .footer-last {
    margin-top: 2em;
  }
}
